/**---fonts--*/
@font-face {
  font-family: "Montserrat-B";
  src: url(../webfonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins-R", sans-serif;
  src: url(../webfonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Monteserrat-M";
  src: url(../webfonts/Montserrat-Thin.ttf);
}

html {
  scroll-padding-top: 98px;
}
/**--main variables--*/
:root {
  /*^=====colors===*/
  --bg-mainSection-color: #262936;
  --bg-secondSection-color: #323544;
  --secondry-text-color: #009ad8;
  --main-text-color:#bfc1c8;
  /*^=====fonts===*/
  --heading-text-font: "Montserrat-B";
  --main-text-font: "Poppins-R", sans-serif;
  --home-title-font-thin: "Monteserrat-M", sans-serif;
}
body
{
  --bs-body-color:var(--main-text-color);
}
.hero
{
  height: 75%;
  background-image:url("../images/images2.png");
  background-size: cover;
  background-position: center;
}
.blue-text
{
  color: var(--secondry-text-color);
}
.dark-bg
{
  background-color: var(--bg-secondSection-color);
}
.second-bg
{
background-color: var(--bg-mainSection-color);
}
.blue-bg
{
background-color: var(--secondry-text-color);
}
.today-footer 
{
  img{
    width: 1.25rem;
    height: 1.25rem;

  }
  
}
.h1
{
  font-size: 90px;
}
.search-input
{
  right:14%;
 top: 25%;
  height:50%;
}
.icon-bg
{
  color: var(--bg-secondSection-color);
}
footer{
  .my-row > :nth-child(1):hover {
    .fa-circle {
      color: var(--secondry-text-color) !important;
    }
    .my-facebook {
      color: var(--bs-white) !important;
    }
  }
  .my-row > :nth-child(2):hover {
    .fa-circle {
      color: var(--secondry-text-color) !important;
    }
    .my-twitter {
      color: var(--bs-white) !important;
    }
  }
  .my-row > :nth-child(3):hover {
    .fa-circle {
      color: var(--secondry-text-color) !important;
    }
    .my-pin {
      color: var(--bs-white) !important;
    }
  }
  .my-row > :nth-child(4):hover {
    .fa-circle {
      color: var(--secondry-text-color) !important;
    }
    .my-linked {
      color: var(--bs-white) !important;
    }
  }
}

.navbar-nav {
  --bs-nav-link-color: var(--bs-white);
  --bs-nav-link-hover-color: var(--secondry-text-color);  
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: var(--secondry-text-color);
}