/**---fonts--*/
@font-face {
  font-family: "Montserrat-B";
  src: url(../webfonts/Montserrat-ExtraBold.ttf);
}
@font-face {
  font-family: "Poppins-R", sans-serif;
  src: url(../webfonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: "Monteserrat-M";
  src: url(../webfonts/Montserrat-Thin.ttf);
}

/html {
  scroll-padding-top: 98px;
}
/**--main variables--*/
:root {
  /*^=====colors===*/
  --bg-section-color: #f7f7f7;
  --main-text-color-rbg: rgb(116, 129, 130);
  --main-text-color: #748182;
  --heading-text-color-rbg: rgb(52, 52, 52);
  --heading-text-color: #343434;
  --portfolio-text-nav-color-rbg: rgb(34, 34, 34);
  --portfolio-text-nav-color: #222;
  --our-team-cards-bg: #5b5b5b;
  --form-bg-color: #f4f4f4;
  --footer-bg-color: #1c1c1c;
  --shadow: 0px 10px 30px -8px rgba(0, 0, 0, 0.1);
  /*^=====fonts===*/
  --heading-text-font: "Montserrat-B";
  --main-text-font: "Poppins-R", sans-serif;
  --home-title-font-thin: "Monteserrat-M", sans-serif;
}

body {
  --bs-body-font-family: var(--main-text-font), sans-serif;
  --bs-body-color: var(--main-text-color);
  scroll-behavior: smooth;
}
.bg-myNav {
  background-color: transparent;
  z-index: 999;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3 {
  --bs-heading-color: var(--heading-text-color);
  font-family: var(--heading-text-font);
}
h2 {
  font-size: 2.5rem;
}
.title::after {
  content: " ";
  width: 100%;
  height: 0.1875rem;
  position: absolute;
  bottom: -2px;
  left: 0;
  background-image: url(../images/dots.png);
  background-repeat: repeat;
}
/*^---main nav style start---*/
#my-nav {
  .nav-link {
    color: var(--bs-white);
  }
}

/*^---main nav style end---*/

/*^---header style start--*/
#home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url(../images/bg.jpg);

  background-size: cover;
  background-attachment: fixed;
  h1 {
    font-size: 4rem;
    font-family: var(--home-title-font-thin);
    font-weight: 200;
  }

  h2 {
    font-size: 3.125rem;
  }
}
/*^--header style end---*/
/*^----about style start--*/
#about {
  .devolper-img::after {
    content: " ";
    position: absolute;
    width: 90%;
    height: 80%;
    bottom: -2%;
    left: -2%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -9999;
  }
  /**-----about btn style start----*/

  a {
    --bs-link-color-rgb: var(--bs-white);
  }
  .btn-dark:hover a {
    color: var(--bs-black);
  }
  .btn-dark {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-black);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-black);
    --bs-btn-active-border-color: var(--bs-black);
  }
  .btn-light {
    --bs-btn-color: var(--bs-black);
    --bs-btn-bg: var(--bs-white);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-black);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-active-color: var(--bs-white);
    --bs-btn-active-bg: var(--bs-black);
    --bs-btn-active-border-color: var(--bs-black);
  }
  /**-----about btn hovers end----*/
}
/**---progress bars----*/
.progress {
  height: 25px;
}
.first .progress-bar {
  animation: web-defeloper 1s;
  width: 95%;
}
@keyframes web-defeloper {
  0% {
    width: 0%;
  }

  100% {
    width: 95%;
  }
}

.second .progress-bar {
  animation: second 1s;
  width: 80%;
}

@keyframes second {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}

.third .progress-bar {
  animation: third 1s;
  width: 90%;
}

@keyframes third {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

/**------end progress bar----*/
/*^---about style end---*/
/*^--services style start--*/
#services {
  background-color: var(--bg-section-color);
  --bs-box-shadow: var(--shadow);

  .fa-circle {
    color: var(--form-bg-color);
    transition: 1s;
  }
  .icons {
    color: var(--heading-text-color);
    transition: 1s;
  }

  .content-outer:hover {
    .fa-circle {
      color: var(--bs-black);
    }
    .icons {
      color: var(--bs-white);
    }
  }
}

/*^services style end----*/
/*^----portfolio style-start---*/
#Portfolio {
  .nav {
    --bs-nav-link-color: var(--portfolio-text-nav-color);
    --bs-nav-link-hover-color: var(--portfolio-text-nav-color);
  }
  .portfolio-card-layer {
    opacity: 0;
    top: 0.625rem;
    bottom: 0.625rem;
    left: 1.25rem;
    right: 1.25rem;
    transition: 1s;
  }
  span .fa-stack {
    width: 50px;
    height: 50px;
  }
  .fa-stack-1x {
    transition: 1s;
  }
  .fa-circle {
    transition: 1s;
  }
  .portfolio-item:hover .portfolio-card-layer {
    opacity: 1;
  }
  .card-icons > :nth-child(2):hover {
    .fa-circle {
      color: white !important;
    }
    .fa-stack-1x {
      color: black !important;
    }
  }
  .card-icons > :nth-child(1):hover {
    .fa-circle {
      color: white !important;
    }
    .fa-stack-1x {
      color: black !important;
    }
  }
}
/*^----portfolio style end----*/
/*^-----carousel style start---*/
#testimonials {
  img {
    width: 90px;
    height: 90px;
  }
  .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--bs-body-color);
  }

  background-color: var(--bg-section-color);
}
/*^-----carousel style end---*/
/*^fact style start--*/
#facts {
  i {
    color: var(--heading-text-color);
  }
}

/*^--fact style end--*/
/*^--our team style start--*/

.ourteam-icon {
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  opacity: 0;
  transition: 1s;
}

.team-inner:hover .ourteam-icon {
  opacity: 1;
  transform: rotateY(360deg);
}
#ourTeam {
  background-color: var(--bg-section-color);
  .caption {
    background-color: var(--our-team-cards-bg);
  }
  img {
    transition: 1s;
  }
  .team-img:hover {
    img {
      transform: scale(1.1);
    }
  }

  .my-row > :nth-child(1):hover {
    .fa-circle {
      color: var(--bs-white) !important;
    }
    .my-facebook {
      color: var(--bs-black) !important;
    }
  }
  .my-row > :nth-child(2):hover {
    .fa-circle {
      color: var(--bs-white) !important;
    }
    .my-twitter {
      color: var(--bs-black) !important;
    }
  }
  .my-row > :nth-child(3):hover {
    .fa-circle {
      color: var(--bs-white) !important;
    }
    .my-pin {
      color: var(--bs-black) !important;
    }
  }
  .my-row > :nth-child(4):hover {
    .fa-circle {
      color: var(--bs-white) !important;
    }
    .my-linked {
      color: var(--bs-black) !important;
    }
  }
}

/*^--our team style end--*/
/*^-----contact style strat---*/
#contact {
  .fa-circle {
    color: var(--form-bg-color);
    transition: 1s;
  }
  .icons {
    color: var(--heading-text-color);
    transition: 1s;
  }

  .content:hover {
    .fa-circle {
      color: var(--bs-black);
    }
    .icons {
      color: var(--bs-white);
    }
  }
  .form-control {
    --bs-body-bg: var(--form-bg-color);
  }
  .btn-dark {
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bs-black);
    --bs-btn-border-color: var(--bs-black);
    --bs-btn-hover-bg: var(--bs-white);
    --bs-btn-hover-color: var(--bs-black);

    --bs-btn-hover-border-color: var(--bs-black);
    --bs-btn-active-color: var(--bs-black);
    --bs-btn-active-bg: var(--bs-black);
    --bs-btn-active-border-color: var(--bs-black);
  }
  .form-control:focus {
    box-shadow: unset;
  }
}
/*^-----contact style end---*/

/*^-----footer style start--*/
footer {
  font-size: 0.8125rem;
  background-color: var(--footer-bg-color);
}
/*^-----footer style end--*/

@media (max-width: 992px) {
  #services {
    .container {
      width: 100% !important;
    }
  }
  #Portfolio {
    .container {
      width: 100% !important;
    }
  }
  #about {
    .container {
      width: 100% !important;
    }
  }
  #contact {
    .container {
      width: 100% !important;
    }
  }
  #contact {
    .container {
      width: 100% !important;
    }
  }
  #testimonials
  {
    .container {
      width: 100% !important;
    }
  }
  #ourTeam {
    .container {
      width: 100% !important;
    }
  }
}
